/* =========================================================================== */
/* BASE (Reset, Body, Typography, Base Elements)                             */
/* =========================================================================== */
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; font-size: var(--tamano-fuente-base); }
body { padding-bottom: 90px; font-family: var(--fuente-principal); line-height: var(--line-height-base); background-color: var(--gris-fondo-claro); color: var(--negro-azabache); -webkit-font-smoothing: antialiased; overflow-x: hidden; box-sizing: border-box;}
h1, h2, h3 { font-family: var(--fuente-principal); line-height: var(--line-height-titulo); color: var(--negro-azabache); margin-bottom: var(--espacio-m); font-weight: 700; }
main { padding: 0 var(--espacio-s) var(--espacio-l); padding-bottom: 80px; display: flex; flex-direction: column; gap: var(--espacio-m); }
table { width: 100%; border-collapse: separate; border-spacing: 0; }
th, td { padding: var(--espacio-m); text-align: left; font-size: .95em; vertical-align: middle; }
th { background-color: var(--gris-hover-sutil); color: var(--gris-texto-secundario); font-weight: 600; text-transform: uppercase; font-size: .8em; white-space: nowrap; border-bottom: 1px solid var(--gris-borde-sutil); }
td { color: var(--negro-azabache); border-bottom: 1px solid var(--gris-borde-sutil); }
tbody tr:last-child td { border-bottom: none; }