<div id="caja-ingreso-modal-container" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Añadir Ingreso Manual</h3>
            <div class="header-actions">
                <button class="btn btn-secondary" id="ingreso-modal-cancelar-btn">Cancelar</button>
                <button class="btn btn-primario" id="ingreso-modal-guardar-btn">Guardar</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="ingreso-concepto-input">Concepto</label>
                <input type="text" id="ingreso-concepto-input" placeholder="Ej: Venta manual, Adelanto">
            </div>
            <div class="form-group">
                <label for="ingreso-monto-input">Monto</label>
                <input type="number" id="ingreso-monto-input" placeholder="0.00" step="0.01">
            </div>
        </div>
    </div>
</div>