<div id="cargo-modal-container" class="modal-overlay">
    <div class="cargo-modal-content modal-content">
        <div class="modal-header">
            <h3 id="modal-cargo-title">Agrega cargo manual al pedido.</h3>
            <div class="header-actions">
                <button class="btn btn-secondary" id="cancelar-cargo-btn">volver</button>
                <button class="btn btn-primario" id="agregar-cargo-btn">agregar</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-section registro-cargo">
                <div class="form-group">
                    <label for="descripcion-cargo-manual">Descripción breve</label>
                    <!-- Añadido el atributo 'required' -->
                    <input type="text" id="descripcion-cargo-manual" placeholder="Ej. Empaque especial" required>
                </div>
                <div class="form-group">
                    <label for="monto-cargo-manual">Monto <span class="label-hint">(Ingresa el monto del cargo)</span></label>
                    <input type="number" id="monto-cargo-manual" placeholder="0.00" step="0.01">
                </div>
            </div>
        </div>
    </div>
</div>